ul.list-group
  li.list-group-item.cur(ng-click="setCurrentAction('addProgect')")
    h4.list-group-item-heading Добавить проект
    p.list-group-item-text Процесс добавления проекта
  li.list-group-item(ng-if="currentAction == 'addProgect'")
    //- h4.list-group-item-heading Добавить проект
    //- p.list-group-item-text Процесс добавления проекта
    .row
      .col-sm-6.col-md-4
        .thumbnail
          img(src='...', alt='...')
          .caption
            h3 Thumbnail label
            p ...
            p
              a.btn.btn-primary(href='#', role='button') Button
              a.btn.btn-default(href='#', role='button') Button
      .col-sm-6.col-md-4
        .thumbnail
          img(src='...', alt='...')
          .caption
            h3 Thumbnail label
            p ...
            p
              a.btn.btn-primary(href='#', role='button') Button
              a.btn.btn-default(href='#', role='button') Button
      .col-sm-6.col-md-4
        .thumbnail
          img(src='...', alt='...')
          .caption
            h3 Thumbnail label
            p ...
            p
              a.btn.btn-primary(href='#', role='button') Button
              a.btn.btn-default(href='#', role='button') Button

  li.list-group-item.cur(ng-click="setCurrentAction('addPage')")
    h4.list-group-item-heading Добавить страницу
    p.list-group-item-text Процесс добавления страницы проекта
  li.list-group-item(ng-if="currentAction == 'addPage'")
    //- h4.list-group-item-heading Добавить проект
    //- p.list-group-item-text Процесс добавления проекта
    .row
      .col-sm-6.col-md-4
        .thumbnail
          img(src='...', alt='...')
          .caption
            h3 Thumbnail label
            p ...
            p
              a.btn.btn-primary(href='#', role='button') Button
              a.btn.btn-default(href='#', role='button') Button
      .col-sm-6.col-md-4
        .thumbnail
          img(src='...', alt='...')
          .caption
            h3 Thumbnail label
            p ...
            p
              a.btn.btn-primary(href='#', role='button') Button
              a.btn.btn-default(href='#', role='button') Button
      .col-sm-6.col-md-4
        .thumbnail
          img(src='...', alt='...')
          .caption
            h3 Thumbnail label
            p ...
            p
              a.btn.btn-primary(href='#', role='button') Button
              a.btn.btn-default(href='#', role='button') Button

  li.list-group-item.cur(ng-click="setCurrentAction('addMaket')")
    h4.list-group-item-heading Добавить макет
    p.list-group-item-text Процесс добавления макета страницы
  li.list-group-item(ng-if="currentAction == 'addMaket'")
    //- h4.list-group-item-heading Добавить проект
    //- p.list-group-item-text Процесс добавления проекта
    .row
      .col-sm-6.col-md-4
        .thumbnail
          img(src='...', alt='...')
          .caption
            h3 Thumbnail label
            p ...
            p
              a.btn.btn-primary(href='#', role='button') Button
              a.btn.btn-default(href='#', role='button') Button
      .col-sm-6.col-md-4
        .thumbnail
          img(src='...', alt='...')
          .caption
            h3 Thumbnail label
            p ...
            p
              a.btn.btn-primary(href='#', role='button') Button
              a.btn.btn-default(href='#', role='button') Button
      .col-sm-6.col-md-4
        .thumbnail
          img(src='...', alt='...')
          .caption
            h3 Thumbnail label
            p ...
            p
              a.btn.btn-primary(href='#', role='button') Button
              a.btn.btn-default(href='#', role='button') Button
