doctype html
html(lang="ru" ng-app='app')
  head
    title Макеты NEW

    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    meta(name="keywords", content="")
    meta(name="author", content="")
    meta(name="description", content="")

    meta(property="og:type", content="article")
    meta(property="og:site_name", content="site name")
    meta(property="og:url", content="test url")
    meta(property="og:title", content="test title")
    meta(property="og:description", content="test description")
    meta(property="og:image", content="image_url")

    meta(name="twitter:card", content="")
    meta(name="twitter:site", content="")
    meta(name="twitter:creator", content="")

    link(rel="icon", href="img/favicon.png", type="image/x-icon")
    link(rel="shortcut icon", href="img/favicon.png", type="image/x-icon")

    link(href="css/bootstrap.css", rel="stylesheet")
    link(href="css/modfiles.css", rel="stylesheet")
    link(href="css/style.css", rel="stylesheet")

    block style

  body
    block header

    .container
      block content
    block footer

    script(src="js/backendless.js")
    script(src="js/angular.js")
    script(src="js/main.js")

    block script
