doctype html
html(lang="ru" ng-app='app')
  head
    title Макеты NEW

    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    meta(name="keywords", content="")
    meta(name="author", content="")
    meta(name="description", content="")

    meta(property="og:type", content="article")
    meta(property="og:site_name", content="site name")
    meta(property="og:url", content="test url")
    meta(property="og:title", content="test title")
    meta(property="og:description", content="test description")
    meta(property="og:image", content="image_url")

    meta(name="twitter:card", content="")
    meta(name="twitter:site", content="")
    meta(name="twitter:creator", content="")
    
    link(rel="apple-touch-icon", sizes="57x57", href="/img/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="60x60", href="/img/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/img/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="76x76", href="/img/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/img/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="120x120", href="/img/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="144x144", href="/img/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="152x152", href="/img/apple-touch-icon-152x152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="/img/apple-touch-icon-180x180.png")
    link(rel="icon", type="image/png", href="/img/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="/img/android-chrome-192x192.png", sizes="192x192")
    link(rel="icon", type="image/png", href="/img/favicon-96x96.png", sizes="96x96")
    link(rel="icon", type="image/png", href="/img/favicon-16x16.png", sizes="16x16")
    link(rel="mask-icon", href="/img/safari-pinned-tab.svg", color="#5bbad5")
    link(rel="shortcut icon", href="/img/favicon.ico")
    link(rel="manifest", href="/manifest.json")
    
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="msapplication-TileImage", content="/img/mstile-144x144.png")
    meta(name="theme-color", content="#ffffff")
    meta(name="msapplication-config", content="/browserconfig.xml")

    link(rel="icon", href="img/favicon.png", type="image/x-icon")
    link(rel="shortcut icon", href="img/favicon.png", type="image/x-icon")

    link(href="css/bootstrap.css", rel="stylesheet")
    link(href="css/modfiles.css", rel="stylesheet")
    link(href="css/style.css", rel="stylesheet")

    block style

  body
    .container(ng-controller="toggleSidebar" ng-class="{'sidebar-is-open':isToggleMenu}")
      .window
        include part/_sidebar

        .main(role='main')
          include part/_top-bar
          include part/_feature

          block content

      block footer
        include part/_footer

    script(src="js/backendless.js")
    script(src="js/angular.js")
    script(src="js/angular-route.js")
    script(src="js/ngStorage.js")
    script(src="js/main.js")

    block script
