extend _layout

block content
  div(ng-controller="choseActionCtrl")
    h3 Что вы хотите сделать?

    hr

    input(type="text" ng-model="getNameCaterory")
    button(type="button" ng-click="addCategory()") Добавить

    hr

    button(type="button" ng-click="getCategory()") Получить

    ul.lsn.list-categories
      li(ng-repeat="category in categories")
        .row.pr
          .delete-category-icon(ng-click="deleteCategory(category)")
          .col-xs-6
            span {{category.title}}
          .col-xs-6
            span {{category.text}}
