h3 Страница добавления проекта

form.form-inline
  .form-group
    input.form-control(type='text', placeholder='' ng-model="getNameCaterory")
  button.btn.btn-default(type="button" ng-click="addProject()") Добавить

hr

ul.lsn.list-categories
  li(ng-repeat="category in categories")
    .row.pr
      .delete-category-icon(ng-click="deleteCategory(category)")
      .col-xs-6
        span {{category.title}}
      .col-xs-6
        span {{category.text}}

