footer
  .footer-inner
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi ad assumenda laborum, quis ullam nihil, alias officiis eos dolores eum nam totam aspernatur debitis aliquam beatae? Dignissimos odio repellendus vel.
