.top-bar
  //- .profile-box
    .circle
    span.arrow.fa.fa-angle-down
  ul.top-menu.lsn.pl0
    li.menu-icon.trigger-sidebar-toggle(ng-click="isToggleMenu = !isToggleMenu")
      .line
      .line
      .line
    li: a(href='#') Headlines
    li: a(href='#') Articles
    li: a(href='#') Movies & Films
    li: a(href='#') Television
    li: a(href='#') Music
    li: a(href='#') Celebrities
